.text {
  text-align: start;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 17px;
  }
  .text h1 {
    font-size: 40px;
  }
  
}