@import "tailwindcss";

/* Import fonts */
@import "@fontsource/cairo/400.css"; /* Regular */
@import "@fontsource/cairo/700.css"; /* Bold */
@import "@fontsource/poppins/400.css"; /* Regular */
@import "@fontsource/poppins/700.css"; /* Bold' */

@layer base {
  /* Default font for the whole app */

  /* Apply Cairo font for RTL (Arabic) */
  html[dir="rtl"] {
    direction: rtl;
    text-align: right;
    font-family: "Cairo", sans-serif;
  }

  /* Apply Poppins font for LTR (English) */
  html[dir="ltr"] {
    direction: ltr;
    text-align: left;
    font-family: "Poppins", sans-serif;
  }
}